/**
 * Author: petar
 * Date: 1/21/13
 */
body {
/*    width: 800px;
    height: 500px;*/
    margin: 0px;
    padding: 0px;
    xbackground: transparent url('../wireFrame.png') no-repeat;
}
footer {
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*height: 24px;*/
    /*width: 100%;*/
    /*background-color: #fff;*/
}
footer a:first-child {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 5;
    background-color: #fff;
}
footer a:last-child {
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*right: 0px;*/
    /*z-index: 5;*/
    /*background-color: #fff;*/
}
ul#categories,
#songsContainer li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#categories li {
    display: inline-block;
    padding: 5px;
    margin: 2px;
    border: solid 1px #ccc;
    font-family: Interstate, "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 10pt;

    background-color: #fff;
    color: #666;
    transition: background-color 0.5s;
    -moz-transition: background-color 0.5s; /* Firefox 4 */
    -webkit-transition: background-color 0.5s; /* Safari and Chrome */
    -o-transition: background-color 0.5s; /* Opera */
    /*-webkit-border-radius: 2px;*/
    /*-moz-border-radius: 2px;*/
    /*border-radius: 2px;*/
}
ul#categories li:hover,
ul#categories li.selected {
    background-color: rgba(255, 125, 0, 0.61);
    color: #fff;
    cursor: pointer;
}

.hide {
    display: none;
}
#songsContainer {

}
#songsContainer li  {
    display: inline-block;
    padding: 2px;
    position: relative;
    width: 130px;
}

#songsContainer li:hover {
    cursor: pointer;
}

#songsContainer li .art {
    width: 130px;
}
#songsContainer li .wave {
    position: absolute;
    z-index: 2;
    width: 130px;
    height: 21px;
    bottom: 26px;
    left: 2px;
    background-color: #4A4A4A;
    opacity: 0.9;
}

#songsContainer li .wave.minimize {
}

#songsContainer li .audioBtn {
    position: absolute;
    top: 47px;
    left: 54px;
    z-index: 2;
    width: 30px;
    height: 30px;
    background: transparent url('../images/button-sprite-30.png') no-repeat;
    background-position: 0 -60px;
}

#songsContainer li:hover .audioBtn {
    background-position: 0 -90px;
}

#songsContainer li .artist {
    color: #b3b3b3;
    font-size: 10px;
    width: 130px;
    height: 11px;
}
#songsContainer li .title {
    color: #666;
    font-size: 11px;
    width: 130px;
    height: 13px;
}
#songsContainer li .title,
#songsContainer li .artist {
    font-family: Interstate, "Lucida Grande", Helvetica, Arial, sans-serif;
    white-space: nowrap;
    overflow: hidden;
}

#songsContainer li .hider {
    position: absolute;
    background: transparent url('../images/hider-fade.png') no-repeat;
    width: 32px;
    height: 23px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/*#songsContainer li.selected .audioBtn {*/
    /*background-position: 0px 0px;*/
/*}*/

/*#songsContainer li.selected:hover .audioBtn {*/
    /*background-position: 0px -30px;*/
/*}*/

#wrapper {
    width: 630px;
    position: relative;
}

#lhs {
    width: 200px;
    height: 420px;
    float: left;
}

/*
TODO change image to no record, just clouds but semi transparent
*/
#lhs #recordOverlay {
    background: transparent url('../images/recordOverlay2.png') no-repeat;
    position: absolute;
    z-index: 0;
    width: 380px;
    height: 380px;

    top: 9px;
    left: -180px;

    animations: spin1 10s infinite linear;
    -moz-animation: spin1 10s infinite linear;
    -webkit-animation: spin1 10s infinite linear;
}

#lhs #record {
    background: transparent url('../images/record.png') no-repeat;
    position: absolute;
    z-index: 0;
    width: 380px;
    height: 380px;

    top: 9px;
    left: -180px;

    animations: spin1 10s infinite linear;
    -moz-animation: spin1 10s infinite linear;
    -webkit-animation: spin1 10s infinite linear;
}

@keyframes spin1 {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

/* FireFox */
@-moz-keyframes spin1 {
    0% { -moz-transform: rotate(0deg);}
    100% { -moz-transform: rotate(360deg);}
}

/* Chrome Opra */
@-webkit-keyframes spin1 {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}

#lhs #categorySelection_chzn {
    position: absolute;
    top: 185px;
    left: 27px;
    width: 200px;
}

#lhs .chzn-container .chzn-results {
    max-height: 124px;
}

#rhs {
    width: 420px;
    height: 400px;
    float: left;
}
#playerContainer {
    width: 420px;
    margin-top: 10px;
}

#songsContainer {
    background-color: #fff;
    width: 420px;
    xheight: 318px;
    overflow-y: scroll;
}